* {
  font-family: Quicksand, sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background-color: #f1f1f1;
}

.navbar {
  background-color: #a0c1b1 !important;
}

.contents {
  position: relative;
  margin: 20px auto 0 auto;
  padding: 20px;
  width: 60%;
  min-width: 350px;
  min-height: 600px;
  background-color: white;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  background: #a0c1b1;
  color: white;
}

/* house */

.contents-table {
  table-layout: fixed;
  width: 100%;
  margin: 10px auto 10px auto;
}

.contents-table th {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}

.contents-table th,
.contents-table td {
  padding: 5px 10px;
}

.contents-table td {
  border-bottom: 1px solid #dddddd;
}

.contents-table th:nth-child(1) {
  width: 80px;
}

.contents-table th:nth-child(3) {
  width: 120px;
}

.contents-table th:nth-child(4) {
  width: 120px;
}

.contents-table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* new */

.new-table {
  position: relative;
}

.new-table td,
.new-table input,
.new-table textarea {
  position: relative;
  width: 90%;
  margin: 5px 10px;
}

.new-table textarea {
  height: 90%;
}

.new-table th {
  padding-left: 10px;
}

.td-textarea {
  height: 400px;
}

.contents .bottom-btn {
  position: relative;
  height: 30px;
}

.contents .submit-btn {
  position: absolute;
  right: 10px;
}
.alert {
  width : 60%;
  margin : auto;
  margin-top : 10px;
}
/* sign up */
